frontend/node_modules



# ===========================
# Django (backend)
# ===========================
backend/__pycache__/
backend/*.py[cod]
backend/*.sqlite3
backend/.env

# Django static & media
backend/staticfiles/
backend/static/
backend/media/

# Django migrations cache
backend/**/migrations/*.pyc
backend/base/migrations/__pycache__/
# OPTIONAL (if you want to ignore migrations)
# backend/base/migrations/*.py



# Python build
build/
dist/
*.egg-info/
